
<div id="imageFlowFlag"></div>
<div id="imageFlow">
    <div class="top">
    </div>
    <div class="bank">
        <{foreach from=$block.flow_pics item=flow}>
		<a rel="<{$xoops_url}>/uploads/flow/<{$flow.pic_file_name}>" title="<{$flow.pic_title}>" href="<{$flow.pic_linking}>">
			<{$flow.pic_content}></a>
			<{/foreach}>
    </div>
    <div class="text">
        <div class="title">
        </div>
        <div class="legend">
        </div>
    </div>

</div>
<script src="<{$xoops_url}>/include/me/flow.js" type="text/javascript"></script>

<script type="text/javascript">
	$(function(){
		$("#imageFlow").appendTo("#xo-canvas");
		$("#imageFlowFlag").parents(".xo-block").hide();
	})
</script>