<script language="JavaScript" type="text/JavaScript">
<!--
	function CLA(CLA) { var MainWindow = window.open (CLA, "_blank","width=500,height=300,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no");}
//-->
</script>
<table cellspacing="1" class="outer" style="width:100%;">
  <tr>
    <th align="center"><{$add_from_sitename}> <{$add_from_title}></th>
  </tr>
  <{if $moderated}>
	  <{if $xoops_isadmin}>
	  <tr>
	    <td align="center" class="even">
	    <table class="outer" cellspacing="0" style="width:50%;">
		  <tr>
		    <td class="head" align="center"><{$admin_block}></td>
		  </tr>
		  <tr>
		    <td class="odd" align="center"><{$confirm_resume}></td>
		  </tr>
		</td>
		</table></td> </tr>
	<{/if}>
  <{/if}>
  </table>
  
<table border="1" class="even" width="80%" align="center">
	<tr>

		<td class="odd" align="right"><{$back_to_jobs}></td>
</tr><tr>
<td class="odd" align="center"><{$intro_resume}></td>
		</tr>
</table>
		
<table cellspacing="1" class="outer" style="width:100%;">
<tr>
  	<td class="odd" align="center"><{$add_resume}></td></tr>
<tr>
  	<td class="odd">
      <table border="0" style="width:100%;">
		<{foreach item=cat from=$categories}>
		<{math equation="i % 3" i=$cat.i assign="mod"}>
			<{if $mod == 0}><tr><{/if}>
			<td valign="top" align="center" style="width:33%;">
			<table class="outer" cellspacing="0" style="width:100%;">
			  <tr><td class="head"><{$cat.image}> <{$cat.link}> (<{$cat.count}>)</td></tr>
			  <tr><td class="odd"><{$cat.subcat}></td></tr>
			</table>
			</td>
			<{if $mod == 2 || $cat.i == $cat_count}></tr><{/if}>
		<{/foreach}>
     </table> </td>
  </tr> </table>
 <table><tr>
 <td class="even" align="center"><{$total_listings}><br /><{$total_confirm}><br /><br /></td></tr></table>

<{include file="db:jobs_res_adlist.html" comment=$comment}>
