<script language="JavaScript" type="text/JavaScript">
<!--
	function CLA(CLA) { var MainWindow = window.open (CLA, "_blank","width=500,height=300,toolbar=no,location=no,directories=no,status=no,menubar=no,scrollbars=yes,resizable=yes,copyhistory=no");}
//-->
</script>
<table cellspacing="1" class="outer" style="width:100%;">
  
    <th align="center"><{$add_from_sitename}> <{$add_from_title}></th>
  
  <{if $moderated}>
	  <{if $xoops_isadmin}>
	  <tr>
	    <td align="center" class="even">
	    <table class="outer" cellspacing="0" style="width:50%;">
		  <tr>
		    <td class="head" align="center"><{$admin_block}></td>
		  </tr>
		  <tr>
		    <td class="odd" align="center"><{$confirm_ads}><br /><{$confirm_resume}></td>
		  </tr>
		</td>
		</table>
	  </tr>
	  <{/if}>
  <{/if}>
  </table>
  <table cellspacing="1" class="outer" style="width:100%;">
<tr>
<td class="odd" align="center" valign="top" width="50%"><br /><{$index_head}><br /><{$add_listing}></td>
<td class="odd" align="center" valign="top" width="50%"><br /><{$show_res_index}><br /><{$show_resume}>
</td>
</tr>
</table>
<table border="1" class="even" width="80%" align="center">
	<tr>
		<td class="even" align="center"><hr />
			<table border="0">
					<form name='search' id='search' action='<{$xoops_url}>/search.php' method='post' onsubmit='return xoopsFormValidate_search();'>
					<input type='hidden' name='mids[]' value='<{$xmid}>' />
					<td><b><{$search_listings}></b></td>
					<td><input type='text' name='query' id='query' size='15' maxlength='255' value='' /></td>
					<td><select  size='1' name='andor' id='andor'>
					<option value='AND' selected='selected'><{$all_words}></option>
					<option value='OR'><{$any_words}></option>
					<option value='exact'><{$exact_match}></option>
					</select></td>
					<td><input type='submit' class='formButton' name='submit'  id='submit' value='Search' /></td>
					<input type='hidden' name='action' id='action' value='results' />
					</form>
			</table>
		</td>
	</tr>
</table>
		<script type='text/javascript'>
		<!--
		function xoopsFormValidate_search(){}
		//-->
		</script>

<table cellspacing="1" class="outer" style="width:100%;">
<tr>
  	<td class="odd">
      <table border="0" style="width:100%;">
		<{foreach item=cat from=$categories}>
		<{math equation="i % 3" i=$cat.i assign="mod"}>
			<{if $mod == 0}><tr><{/if}>
			<td valign="top" align="center" style="width:33%;">
			<table class="outer" cellspacing="0" style="width:100%;">
			  <tr><td class="head"><{$cat.image}> <{$cat.link}> (<{$cat.count}>)</td></tr>
			  <tr><td class="odd"><{$cat.subcat}></td></tr>
			</table>
			</td>
			<{if $mod == 2 || $cat.i == $cat_count}></tr><{/if}>
		<{/foreach}>
     </table> </td>
  </tr> </table>
 <table><tr>
 <td class="even" align="center"><{$total_listings}><br /><{if $moderated}><{$total_confirm}><br /><{/if}></td></tr></table>

<{include file="db:jobs_adlist.html" comment=$comment}>
<{include file='db:system_notification_select.html'}>
