<table cellspacing="1" class="outer" style="width:100%;">
  <tr>
    <th align="center"><{$last_head}></th>
  </tr>
  <tr>
    <td style="padding:0;">
   	  <table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
        <tr>
		  <{if $xoops_isadmin}><td class="head"></td><{/if}>
          <td class="head"><{$last_head_title}></td>
	  <td class="head"><{$last_head_company}></td>
          <td align="center" class="head"><{$last_head_date}></td>
          <td class="head"><{$last_head_local}></td>
          <td align="right" class="head"><{$last_head_views}></td>
        </tr>
        <{foreach item=item from=$items}>
		<tr class="<{cycle values="odd,even"}>">
		  <{if $xoops_isadmin}><td><{$item.admin}></td><{/if}>
          <td><b><{$item.title}></b><br /><{$item.type}></td>
	   <td><{$item.company}></td>
          <td align="center"><{$item.date}></td>
          <td><{$item.local}></td>
	  <td align="center"><{$item.views}></td>
        </tr>
		<{/foreach}>
      </table>
	</td>
  </tr>
</table>
